

p {
    margin-bottom: 10px;
    text-shadow:important;
}
h1{
    text-decoration:none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
body{
 background-color: #C0C0C0;   
}

.jumbotron{
    background-color: #FFA623;
}

chart  {
    text-align: center;
}
#chart1 .x.axis text,
#chart2 .x.axis text,
#chart3 .x.axis text,
#chart4 .x.axis text,
#chart5 .x.axis text,
#chart6 .x.axis text{
 text-anchor: end !important;
   transform: rotate(-45deg);
}

/*  .dc-select-menu {*/
/*   background: #33CC99;*/
/*   width: 80%;*/
/*   border: none;*/
/*   position: relative;*/
/*   height: 31px;*/
/*   font-size: 15px;*/
/*   color: white;*/
/*   vertical-align: middle;*/
/*   text-align: center;*/
/*   padding-top: 4px;*/
/*   padding-bottom: 0px;*/

/*}*/

   