<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    
	    <link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	    
	    <!--<link rel="stylesheet" href="static/css/introjs.css"/>-->
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css"/>
	    <link rel="stylesheet" href="static/css/style.css" type="text/css" /> 
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
	    <script type="text/javascript" src="static/js/graph.js"></script>

</head>

<body>
		 <div class="container">
					<div class="row">
						    <div class="jumbotron">
						   	 <div class="container">
						   		<h1>McDonald's Menu</h1>
						   		<h4>Different charts illustrating nutritional facts about McDonald's Menu</h4>
						   		<div id="mcdonald-selector">
						   		</div>
						   		<button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!
                                </button>
						   	 </div>
						    </div>
					</div>
						   <br>
						   <br>
						   <hr>
		 	
		  <div class="row">
		      	<div class="col-md-6 chart">
		      			<p id="calories-row"></p>
		      			<br>
		      			<a href="#" class="btn btn-warning" role="button">Food/Drinks on the menu with the most calories</a>
		      		</div>
		      	<div class="col-md-6 chart">
		      			<p id="chart1"></p>
		      			<br>
		      			<a href="#" class="btn btn-warning" role="button">Average Total Fat per Category</a>
		      	</div>
		      		
		  </div>

						   
		                   <br>
						   <br>
						   <hr>
						   
				
					      		<div class="col-md-3 chart">
					      			<p id="chart2"></p>
					      			<br>
					      			<a href="#" class="btn btn-warning" role="button">Veggie or Non-veggie</a>
					      		</div>
					      		
					      		<div class="col-md-9 chart">
					      			<p id="calory-ss-scatter"></p>
					      			<br>
					      			<a href="#" class="btn btn-warning" role="button">Amount of calories in each menu</a>
					      		</div> 		
					      		
					      		
				

					  
					      	    	
					      	
		      	
		 </div>
		      
		      
		      
		   
		   
		            
		   


 <script src='http://code.jquery.com/jquery.min.js'></script>
 <script src='bootstrap/js/bootstrap.min.js'></script>   
 <script src="js/intro.js" type="text/javascript"></script>
</body>
</html>
